<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="static/css/common/all.css">
  <!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
  <script src="static/js/common/jquery-1.11.0.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="static/js/common/jtree.js"></script>
  <script type="text/javascript" src="static/js/common/uitool.js"></script>
  <script type="text/javascript" src="static/js/common/index.js"></script>

</head>
<body>

<div class="navTab-panel tabsPageContent layoutBox" style="padding-top:20px;padding-left: 20px">
  <div class="page unitBox">
    <div class="pageFormContent">
      <div id="leftside">
        <!-- jtree模板 -->
        <div id="sidebar">
          <div class="toggleCollapse">
            <div class="navigationbar">
              <div id="searchMenu">
                <input id="searchTree" type="text" class="span2" data-autofocus="autofocus" x-webkit-speech="" lang="zh-CN" x-webkit-grammar="builtin:translate" onwebkitspeechchange="$('#searchTreeBtn').trigger('click')"/>
                <a id="searchTreeClose" title="清除条件" class="treeclosebtn hide"><i class="myicons iconfont icon-close tree-close"></i></a> <a id="searchTreeBtn" title="搜索菜单" class="treesearchbtn"><i class="myicons iconfont icon-search tree-search"></i>搜索</a> </div>
              <div id="searchMenuBar" style="line-height: 30px">
                <a title="折叠全部" onclick="$('ul.tree').colExpAll({clickType:'expAll'})" id="expandBtn" class="treebar">折叠<i class="myicons iconfont icon-zhedie collapse-all"></i></a>
                <a title="展开全部" onclick="$('ul.tree').colExpAll({clickType:'colAll'})" id="collapseBtn" class="treebar">展开<i class="myicons iconfont icon-1 expand-all"></i></a> </div>
            </div>
          </div>
          <div class="accordion" fillSpace="sidebar">
            <div class="accordionContent">
              <ul id="a" class="tree treeFolder collapse">
                <li><a autobypy="bz" dataType="topmenu" childMneu="bzmenus" keyboard="A">帮助</a>
                  <ul id="bzmenus" class="bzmenus_sub">
                    <li><a autobypy="tyhs"><span class="font_pos"><i class="external_small"></i></span>长沙市</a>
                      <ul>
                        <li><a autobypy="cjbg" href="#"><span class="font_pos"><i class="external_small"></i></span>芙蓉区</a></li>
                        <li><a autobypy="ybtj" href="#"><span class="font_pos"><i class="external_small"></i></span>天心区</a></li>
                        <li><a autobypy="ybtj" href="#"><span class="font_pos"><i class="external_small"></i></span>岳麓区</a></li>
                        <li><a autobypy="ybtj" href="#"><span class="font_pos"><i class="external_small"></i></span>开福区</a></li>
                        <li><a autobypy="dkck" href="#"><span class="font_pos"><i class="external_small"></i></span>雨花区</a></li>
                        <li><a autobypy="dkbq" href="#"><span class="font_pos"><i class="external_small"></i></span>望城区</a></li>
                        <li><a autobypy="bgcx" href="#"><span class="font_pos"><i class="external_small"></i></span>长沙县</a></li>
                        <li><a autobypy="gshbd" href="#" ><span class="font_pos"><i class="external_small"></i></span>宁乡县</a></li>
                        <li><a autobypy="gshbd" href="#" ><span class="font_pos"><i class="external_small"></i></span>浏阳市</a></li>
                      </ul>
                    </li>
                    <li><a autobypy="bg"><span class="font_pos"><i class="external_small"></i></span>湘潭市</a>
                      <ul>
                        <li><a autobypy="jbbg" href="#"><span class="font_pos"><i class="external_small"></i></span>基本表格</a></li>
                        <li><a autobypy="jbbg" href="#"><span class="font_pos"><i class="external_small"></i></span>可编辑表格</a></li>
                      </ul>
                    </li>
                    <li><a autobypy="ck|dhk"><span class="font_pos"><i class="external_small"></i></span>株洲市</a>
                      <ul>
                        <li class="windowmode"><a autobypy="ck|dhk" href="#" ><span class="font_pos"><i class="external_small"></i></span>窗口|对话框</a></li>
                      </ul>
                    </li>
                    <li><a autobypy="bd" href=""><span class="font_pos"><i class="external_small"></i></span>常德市</a>
                      <ul>
                        <li class="dateinput"><a autobypy="sjsrk" href="#"><span class="font_pos"><i class="external_small"></i></span>时间输入框</a></li>
                        <li class="uicombox"><a autobypy="combox" href="#"><span class="font_pos"><i class="external_small"></i></span>combox</a></li>
                        <li class="autocombox"><a autobypy="zdwc" href="#"><span class="font_pos"><i class="external_small"></i></span>自动完成</a></li>
                        <li class="jlcombox"><a autobypy="jl" href="#"><span class="font_pos"><i class="external_small"></i></span>级联</a></li>
                        <li class="formValid"><a autobypy="khdyz" href="#"><span class="font_pos"><i class="external_small"></i></span>客户端验证</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
